body{
    margin:0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    list-style: none;
}

/*display*/

.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

/* grid */

.d-grid-9{
    grid-template-columns: repeat(9, auto); 
}

/* flex */

.flex-column{
    flex-direction: column;
}


.flex-center{
    justify-content: center;
    align-items: center;
}

/* Width */

.w-full{
    width: 100%;
    grid-column: 1 / 10;
}

/* Height */

.h-full{
    height: 100%;
}