/* Avatar icon Landing Page*/
.Avatar{
    height: 100px;
}

/* Carousel Word.it */
.carousel{
    height: fit-content;
    display: -webkit-inline-box;
    overflow: hidden;
    z-index: 0;
    background-color: var(--Marroon);
}

.carousel > div{
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: baseline;   
    transition: all ease-in-out 0.2s;
    user-select: none;
}

.carousel > div:hover {
  transform: scale(1.20);
  z-index: 0;
}

.carousel div:nth-child(1n+0) {
    background: var(--Purple);
    color: var(--Yellow)
  }

  
  .carousel div:nth-child(2n+0) {
    background: var(--Marroon);
    color: var(--Orange)
  }
  
  .carousel div:nth-child(3n+0) {
    background: var(--Orange);
    color: var(--Marroon)
  }
  .carousel div:nth-child(4n+0) {
    background: var(--Yellow);
    color: var(--Purple)
  }
  
  .carousel div:nth-child(5n+0) {
    background: white;
    color: var(--Black)
  }
  
  /* Pill */

  .Pill{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:none;
    background-color: var(--Yellow);
    color: var(--Purple);
    border-radius: 150px;
    padding-inline: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 30px;
  }
  
/* */
.navLandingPage{
  display: flex;
  justify-content: space-around ;
  
}

@media only screen and (min-width: 1368px) {
    /* Avatar icon Landing Page*/
    .Avatar{
        height: 200px;
    }
 
    .Pill{
      margin-bottom: 50px;
    }
}

/* Decoration Arrows Sets */

.arrowsDecor{
  justify-content: center;
}

.pinkArrow2{
  justify-content: flex-end;
}

.pinkArrowFull{
  justify-content: flex-end;
}

/* Home Buttons */

.btnHome{
  background-color: #B83B5E;
}

.btnHomeLeaderboard{
  background-color: #B83B5E;
  width: 68px;
  height: 116px;
  border: none;
}

.btnHomeLeaderboard:hover{
  background-color: #B83B5E;
  border: none;
}

.btnExercises{
  background-color: #F182A1;
  border: none;
}

.btnLessons{
  background-color: #FAB0C5;
  border: none;
}

.btnHomeLessons{
  background-color: #B83B5E;
  height: 280px;
  width: 68px;
  border: none;
}

.btnHomeLessons:hover{
  background-color: #B83B5E;
  border: none;
}

/* Tables*/

/* Home Progress Bar */

.planet{
  position: relative;
  left: -40px;
}

.rocket{
  position: relative;
  left: 30px;
}