/* Avatar icon Landing Page*/
.Avatar{
    height: 100px;
}

/* Carousel Word.it */
.carousel{
    height: fit-content;
    display: -webkit-inline-box;
    overflow: hidden;
    z-index: 0;
    background-color: var(--Marroon);
}

.carousel > div{
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: all ease-in-out 0.2s;
    user-select: none;
}

.carousel > div:hover {
  transform: scale(1.20);
  z-index: 0;
}

.carousel div:nth-child(1n+0) {
    background: var(--Purple);
    color: var(--Yellow)
  }

  
  .carousel div:nth-child(2n+0) {
    background: var(--Marroon);
    color: var(--Orange)
  }
  
  .carousel div:nth-child(3n+0) {
    background: var(--Orange);
    color: var(--Marroon)
  }
  .carousel div:nth-child(4n+0) {
    background: var(--Yellow);
    color: var(--Purple)
  }
  
  .carousel div:nth-child(5n+0) {
    background: white;
    color: var(--Black)
  }
  
  /* Pill */

  .Pill{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:none;
    background-color: var(--Yellow);
    color: var(--Purple);
    border-radius: 150px;
    padding-inline: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 20px;
  }
  
/* */
.navLandingPage{
  display: flex;
  justify-content: space-between;
  
}

.Custom_Modal_Background{
  
  
  position: fixed;
  top:0;
  background: #22222266; 
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.Custom_Modal{

  width: fit-content;
  height: fit-content;
  background: #fff;
  border-radius: 10px;
  max-height: 100%;
  overflow: auto;
 
}

.Custom_Modal_Head{
  
  display: flex;
  border-bottom : 3px solid var(--Black);
  border-radius: 0px;
  justify-content: space-between;
  align-items: center;



}

.Custom_Modal_Body{
  transition: all 4s ease-in-out 0s;
  display: flex;
  flex-direction: column;
}

.Custom_Modal_Footer{
  display: flex;
  justify-content: space-between;
}

.form-control{
  
  display: flex;
  flex-direction: column;


}

.closeButton{
  background: none;
  outline: none;
  border:none;
  height: 100%;
  aspect-ratio: 1/1;
  
}

.pfpFrame{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 50%;
  border: 3px solid var(--Purple);
  box-sizing: border-box;

  width: 90px;
  height: 90px;
}

.pfpFrame-Orange{
  border-color: var(--Orange);
}

.check{
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
}

.pfpFrameCheck{
  position: absolute;
}

.card-friend{
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: 80%;
}

.AddFriendButon{
  border: none;
  border-top-right-radius: 15px ;
  border-bottom-right-radius: 15px ;
}

.Progress-Bar{
  position: relative;
  width: 80%;
  height: 50px;
  background: var(--Marroon_S_3);
  border-radius: 30px;
}

.table{
  width: 100%;
 
  background: #FDE7FF;
  border-collapse:collapse; 
  justify-content: center;
}


.table tr:nth-child(even) {
  background-color: var(--Purple_S_3);
}

.btn-Arrow{
  display: flex;
  align-items: center;
  justify-content: center;

}


.btn-Arrow:hover svg path{
 fill: var(--Purple);
}

.btn-marroon:hover svg path{
  fill: var(--Marroon);
}

.btn-Arrow svg{
  height: 30px;
  width: 30px;
}

.btn-Arrow:hover{
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  
}


.LoadBigTable{
  width: 100%;
  border: 0;
  background: var(--Purple_S_2);
}

.LoadBigTable:focus{
  width: 100%;
  background: var(--Purple);

}

.arrowTitle{
  height: 0;
  width: 0;
  position: relative;
  top: 50%;
  left: -80px;
}

#btnToDailyExercises{
 border:0
}

 #ProgressBar{
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--Marroon_S_1) var(--percentage), var(--Marroon_S_3)  var(--percentage));
  border-radius: 30px;
}

#ProgressBarIndicator{
  width: fit-content;
  padding: 10px;  
  position: absolute;
  left: 10px;
  bottom: -2px;

}

#MoonProgressBar{

  position: absolute;
  right:  0;
  bottom: -25px;
}

#Profile_Image_Container{
  width: 90px;
  aspect-ratio: 1/1;
  background: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid var(--Purple);
}

#Profile_Image_Container img{
  width: 60px;
  aspect-ratio: 1/1;
}

.OpenLessonModal_btn{
  padding: 0;
  border-radius: 90px;
  width: 90px;
  aspect-ratio: 1/1;
  border: 10px solid var(--Marroon);
  box-shadow: 0px 0px 0px 15px var(--Marroon_S_2);
  display: flex;
  align-content: center;
  justify-content: center;

}

.OpenLessonModal_btn img {
  align-self: center;
  border-radius: 100%;
  width: 70px;
  aspect-ratio: 1/1;
}


.Module{
  
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.Module h2{
  width: 100%;
}

.Lesson{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.LockedImg{
  padding: 0;
  height: 0;
  width: 0;
  position: relative;
  top: -10px;
  right: -60px;

}

.LockedImg Img{
  height: 40px;
}

.Rank{
  color:var(--Black)
}

.Module{
  box-shadow: 0px 12px 16px 0px #0000000D;
}

.Rank .Module:nth-child(n){
  background-color: var(--Marroon_S_2);

}

.Rank .Module:nth-child(2n){
  background-color: var(--Marroon_S_3);

}

.Rank .Module:nth-child(3n){
  background-color: var(--Marroon_S_4);

}

.LoadRound{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 100px;
  aspect-ratio: 1/1;
  background: conic-gradient(from -90deg at 50% 50%, 
  var(--Purple) 0%, 
  var(--Purple) var(--percentage),
   #00000000 var(--percentage), 
   #00000000 100%, 
   #00000000 100%);
}



.tableStatistics {
  border-spacing: 15px;
}

.edit{ 
  position: flex;
  width: 0;
  height: 0;
}

.edit img{ 
  height: 60px;
  position: relative;
  bottom: 155px;
  right: -80px;
}

.innercircle{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Yellow_S_1);
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 100%;

}


@media only screen and (min-width: 1368px) {
    /* Avatar icon Landing Page*/

    .LoadRound{
      width: 200px;
    }

    

    .innercircle{
      width: 170px;
    }

    .Avatar{
        height: 200px;
    }
 
    .Pill{
      margin-bottom: 50px;
    }

    .arrowTitle{
     
      left: -80px;
    }

    .OpenLessonModal_btn{

      aspect-ratio: 1/1;
      border-radius: 220px;
      width: 220px;
      height: 220px;
    }

    
.OpenLessonModal_btn img {
    width: 90%;
  }
    
    .LockedImg{
      top: -40px;
      right: -120px;
    }
    
    .LockedImg Img{
      height: 60px;
      
    }


    #Profile_Image_Container{
      width: 220px;
      aspect-ratio: 1/1;
      background: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 10px solid var(--Purple);
    }

   
    #Profile_Image_Container img{
      width: 180px;
      aspect-ratio: 1/1;
    }
    
    .edit{ 
      position: flex;
      width: 0;
      height: 0;
    }

    .edit img{ 
      height: 120px;
      position: relative;
      bottom: 310px;
      right: -200px;
    }
    


}

.nav-link-Login:hover{
  background-color: #6A2C70;
}

.nav-link-Signin:hover{
  background-color: #B83B5E;
}