/* Avatar icon Landing Page*/
.Avatar{
    height: 100px;
}

/* Carousel Word.it */
.carousel{
    height: fit-content;
    display: -webkit-inline-box;
    overflow: hidden;
    z-index: 0;
    background-color: var(--Marroon);
}

.carousel > div{
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: all ease-in-out 0.2s;
    user-select: none;
}

.carousel > div:hover {
  transform: scale(1.20);
  z-index: 0;
}

.carousel div:nth-child(1n+0) {
    background: var(--Purple);
    color: var(--Yellow)
  }

  
  .carousel div:nth-child(2n+0) {
    background: var(--Marroon);
    color: var(--Orange)
  }
  
  .carousel div:nth-child(3n+0) {
    background: var(--Orange);
    color: var(--Marroon)
  }
  .carousel div:nth-child(4n+0) {
    background: var(--Yellow);
    color: var(--Purple)
  }
  
  .carousel div:nth-child(5n+0) {
    background: white;
    color: var(--Black)
  }
  
  /* Pill */

  .Pill{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:none;
    background-color: var(--Yellow);
    color: var(--Purple);
    border-radius: 150px;
    padding-inline: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 30px;
  }
  
/* */
.navLandingPage{
  display: flex;
  justify-content: space-between;
  
}

.Custom_Modal_Background{
  
  position: fixed;
  top:0;
  background: #22222266; 
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.Custom_Modal{
  width: fit-content;
  height: fit-content;
  background: #fff;
  border-radius: 10px;
  max-height: 100%;
  overflow: auto;
 
}

.Custom_Modal_Head{
  display: flex;
  border-bottom : 3px solid var(--Black);
  border-radius: 0px;
  justify-content: space-between;
  align-items: center;



}

.Custom_Modal_Body{
  display: flex;
  flex-direction: column;
}

.Custom_Modal_Footer{
  display: flex;
  justify-content: space-between;
}

.form-control{
  
  display: flex;
  flex-direction: column;


}

.closeButton{
  background: none;
  outline: none;
  border:none;
  height: 100%;

}

.pfpFrame{
  display: flex;
  justify-content: center;
    align-items: center;

  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #6A2C70;
  box-sizing: border-box;

  width: 90px;
  height: 90px;
}

.check{
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
}

.pfpFrameCheck{
  position: absolute;
}


@media only screen and (min-width: 1368px) {
    /* Avatar icon Landing Page*/
    .Avatar{
        height: 200px;
    }
 
    .Pill{
      margin-bottom: 50px;
    }
}

